.CheckoutSummary{
   text-align: center;
   width: 80%;
   margin: auto;
}

.CheckoutSummary h3{
   margin: 0 auto;
}

.Button{
   width: 100%;
   text-align: center;
}

@media (min-width: 600px){
   .ChekoutSummary{
      width: 500px;
   }
}