.Toolbar {
   height: 50px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #703B09;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 90;
}

.Toolbar nav {
   display: none;
   height: 100%;
}

@media (min-width: 500px) {
   .Toolbar nav {
      display: block;
   }
}