.DrawerToggle {
   width: 35px;
   height: 100%;
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0;
   box-sizing: border-box;
   cursor: pointer;
}

.DrawerToggle span {
   width: 90%;
   height: 3px;
   border-radius: 25%;
   background-color: white;
}

@media (min-width: 500px) {
   .DrawerToggle {
      display: none;
   }
}