.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(138, 138, 138, 0.493);
    padding: 16px;
    left: 10%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 500px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}