.Logo {
   background-color: white;
   padding: 8px;
   height: 100%;
   box-sizing: border-box;
   border-radius: 5px;
   /* transition: height 1s ease-out; */
   /* margin-bottom: 32px; */
}

.Logo img{
   height: 100%;
}