.SideDrawer {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 280px;
   max-width: 70%;
   z-index: 200;
   background-color: white;
   padding: 32px 16px;
   box-sizing: border-box;
   transition: transform 0.3s ease-out;
}

.SideDrawer nav {
   margin-top: 30px;
}

@media (min-width: 500px) {
   .SideDrawer {
      display: none;
   }
}

.Open {
   transform: translateX(0);
}

.Close {
   transform: translateX(-100%);
}