.Button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(139, 139, 139, 0.356);
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition: all .2s ease-out;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Button:hover, .Button:active {
    /* background-color: rgb(243, 243, 243); */
    box-shadow: 0 1px 5px rgba(139, 139, 139, 0.256);
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}