.ContactData {
   display: block;
   margin: 0;
   padding: 15px;
   box-sizing: border-box;
   width: 100%;
   text-align: center;
}

.ContactData form {
   width: 60%;
   box-sizing: border-box;
   display: block;
   margin: 0 auto 20px auto;
   padding: 15px;
   border-radius: 7px;
   box-shadow: 0 5px 12px rgba(102, 102, 102, 0.26);
}

.Button {
   background-color: #216e7c;
   /* Green */
   border: none;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   padding: 7px 45px;
   text-align: center;
   text-decoration: none;
   display: block;
   margin: 0 auto;
   font-size: .9rem;
   font-weight: bold;
   cursor: pointer;
}

.Button:hover, .Button:active {
   background-color: #0a3b44;
}

.Button:disabled, .Button[disabled] {
   background-color: rgb(133, 134, 136);
   cursor: default;
}

@media (max-width:500px) {
   .Button {
      box-sizing: border-box;
      width: 100%;
      padding: 15px auto;
   }
}