.Item {
   margin: 0 auto;
   width: 100%;
   box-sizing: border-box;
   text-align: left;
}

.Label {
   display: block;
   margin: 10px 0 0 0;
   font-weight: bold;
   font-size: 1.1rem;
   text-transform: capitalize;
   color: #042227;
   box-sizing: border-box;
}

.Input {
   display: block;
   max-width: 100%;
   min-width: 100%;
   border: .2px solid #216e7c;
   outline: none;
   border-radius: 7px;
   padding: 7px;
   font-size: .9rem;
   margin: 5px auto;
   box-sizing: border-box;
}

.Option{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 63, 82);
   padding: 10px;
   font-size: 1rem;
   font-weight: bold;
   box-sizing: border-box;
}

.Invalid{
   border: 1px solid rgb(209, 112, 120);
   background-color: rgb(255, 219, 222);
}

.ErrorMessage{
   color: rgb(209, 112, 120);
   margin-top: 0;
   padding: 0;
}

.Item textarea, .Item input, .Item select {
   font-family: 'Quicksand';
   font-size: 1rem;
   font-weight: 550;
   color: rgb(27, 27, 27);
}

@media (max-width:500px) {
   .Item {
      width: 100%;
   }
}